<div class="">
    <div class="row g-0 ">
        <div id="leftRow" class="col-sm-4 col-xs-12 bg-light">
            <div class="text-center">
                <div class="mt-5 p-4 pt-5">
                    <div class="mb-4">
                        <img src="/static_files/images/logo.png" alt="Company Logo" height="64">
                    </div>

                    <div class="mx-auto col-lg-10">
                        <input type="file" id="fileUploadInput" class="filepond" name="filepond" multiple
                            data-allow-reorder="true" data-max-file-size="3MB" data-max-files="3">
                    </div>
                </div>
            </div>
        </div>
        <div id="rightRow" class="col-sm-8 col-xs-12">
            <div class="p-4">
                <div>
                    <h1 class="h5">Current Files</h1>
                    <hr>
                    <div class="col-lg-8" id="currentFiles">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>